.potrait {
  width: 5rem;
  height: 5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40%;
  border: solid 3px #c0e8ff;
}

.nav-link.active {
  color: rgba(97, 175, 248, 0.877) !important;
}

.nav-item.active > a {
  color: rgba(97, 175, 248, 0.877) !important;
}
.nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.nav-link:hover {
  color: #c0e8ff;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(205, 212, 219) !important;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
  padding: 0 0.5rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
}
h4.lg-heading {
  font-size: 2rem;
  padding: 0 0.5rem;
}
a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
.icons {
  cursor: pointer;
  margin-top: 1rem;
}
.icons a {
  padding: 0.4rem;
}
.icons a:hover {
  color: #c0e8ff;
  transition: all 0.5s ease-out;
}
.icon1x {
  font-size: 3rem;
  color: rgb(23, 162, 184);
  margin: 0 0.5rem;
}
.icon0x {
  color: rgb(23, 162, 184);
  margin: 0 0.5rem;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 10vh;
}

.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 40%;
  height: 50%;
  border: #c0e8ff 3px solid;
}
.about-info .bio {
  grid-area: bio;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job {
  background: #757373;
  padding: 0.5rem;
  border-bottom: #c0e8ff 5px solid;
}

.projects img {
  width: 100%;
  border: 10px rgb(205, 212, 219) double;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #c0e8ff;
  transition: all 0.5s ease-out;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px rgb(205, 212, 219) solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
}
.boxes div:hover {
  padding: 0.5rem 1.5;
  background: #c0e8ff;
  color: #000000;
}
.boxes div:hover span {
  color: #000000;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #c0e8ff;
  color: #000000;
}

.btn-dark {
  background: black;
  color: white;
}

.btn-light {
  background: #e7e6e6;
  color: black;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #4e4d4d;
  color: white;
  height: 60px;
}
.sepSec {
  background: rgb(255, 255, 255);
  padding: 0.5rem 0;
  margin: 1rem 0;
}
.card-body {
  padding: 0 !important;
}
.card-footer {
  padding: 0 !important;
}
span.text-info > a {
  color: rgb(23, 162, 184);
}
span.text-info > a:hover {
  font-size: 2.1rem;
  text-decoration: underline;
}
.contactSvg {
  color: rgb(23, 162, 184);
}
.contactSvg:hover {
  font-size: 2.2rem;
}
.img-card-top {
  width: 100%;
  border: 10px rgb(205, 212, 219) double;
}

@media screen and (min-width: 1171px) {
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  h4.lg-heading {
    font-size: 2rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 5vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 4rem;
  }
  h4.lg-heading {
    font-size: 2rem;
  }
  h1.lg-heading {
    padding: 0;
  }
}
